body{
    margin:0;
    overflow-y: scroll;
}



.toggleNav {

  background-color:  #cc0000;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}
.toggleNav:hover {
  border-bottom: 2px solid white;
}
nav {
  width: 100%;
  min-height: 50px;
}
.toggleNavButton {
  transition-duration: 0.5s;
  width: 40px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: -20px;
  border-radius: 2px;
}
.toggleNavButton:before,
.toggleNavButton:after {
  border-radius: 2px;
  transition-duration: 0.5s;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-color: white;
  width: 40px;
  height: 2px;
}
.toggleNavButton:after {
  top: 20px;
}
.toggleNavButton.active {
  width: 0;
}
.toggleNavButton.active:after {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.toggleNavButton.active:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#subnav {
  width: 100%;
  border-bottom: 0px solid #e60b3e;
  background-color: #cc0000;;
  transition-duration: 0.2s;
  overflow: hidden;
  height: 0px;
}
#subnav.active {
  height: 50px;
}
#subnav ul {
  width: 615px;
  margin: 0 auto;
}
#subnav ul li {
  transition-duration: 0.3s;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 10px 0;
  height: 50px;
}
#subnav ul li a {
  color: white;
}
#subnav ul li:hover {
  background-color: #e60b3e;
}


#head{
  width:150px;
  height:auto;
  margin:0 auto;
}



.landingCont{
    height:700px;
    width:100%;
    float: left;
    overflow:visible
}

div.coverText p {
  margin:0;
  position: relative;
  top: 40%;
text-align: center;
  font-family: 'Roboto', sans-serif;;
  font-size: 3em;
  text-decoration: none;
text-transform: none;
}



.landingImg1{
    background-image:url('../images/1.1.jpg');
    max-width:50%;
    width:1000px;
    height:700px;
    float: left;
    background-size: cover;
    background-position: center;


}
.coverImg1{
    width:100%;
    height:100%;
    background-color: red;
    opacity: 0;
    transition: opacity 500ms;
    margin:0;
}
.coverImg1:hover{
  opacity: 0.6;

}


.landingImg2{
    background-image:url('../images/1.2.jpg');
    max-width:50%;
    width:1000px;
    height:700px;
        float: left;
         background-size: cover;
         background-position: center;
        
}

.coverImg2{
    width:100%;
    height:100%;
    background-color: white;
  opacity: 0;
  transition: opacity 500ms

}
.coverImg2:hover{
  opacity: 0.7;

}

.landingImgText{

z-index: 4;
width:400px;
text-align: center;
color:white;
position: relative;
}


.social {
    width:600px;
    height:80px;
    margin: 0 auto;
  color: #cc0000;
  text-decoration: none;
}



.social i{
    margin:1em;
      color: #cc0000;
  text-decoration: none;
}


.watchingPic{
  width:100%;
  height:400px;
  background-image: url('../images/Thekop.png');
  background-position:50% 60%;
}

/* CONTACT US PAGE  */

.infoCont{
    width:1000px;
    min-width: 600px;
    height:1000px;
    margin:0 auto;


}

.tableCont{
  width:100%;
  height:600px;
  margin-top: 30px ;

}

.contactcont{
  width:100%;
  height:300px;
  margin-top: 20px ;

}


/* --------------- COLUMNS ------------------- */

#column-01, #column-02, #column-03, #column-04 {width:237px; height:auto; margin:0px 4px 30px 0px;}


/* ----------------------------- GALLERY --------------------------------*/

.work_item {position:relative;}


.work_item img {width:229px; padding:4px; background-color:#FFF;}

.work_item img:hover {}



.work_item a span {width: 229px; 
        opacity: 0.0; background:rgba(43, 41, 37, 0.9); 
        padding: 12px 0; 
        color: #FFF; text-align: center; font-size:0.917em; line-height: 14px; font-style: italic;
        position: absolute; bottom:9px; left:4px;}

.work_item a span em {display: block;
          font-family:Trebuchet, Helvetica, sans-serif;;
          text-transform: uppercase; font-style: normal; letter-spacing: .1em;
          font-size: 1.2em;}


.work_item a:hover {opacity: 1.0}
.work_item a:hover span {opacity: 1.0}


.clearit {clear: both; height: 0; line-height: 0.0; font-size: 0;}